<style>
  @font-face{
    font-family: NotoSansKR-Regular;
    src:url("/font/NotoSansKR-Regular.otf");
  }

  #mainav li li {
    text-align: center;
    width: 60%; 
    margin: 0;
    background-color: #5172df;
    }

  body{
    font-family: NotoSansKR-Regular;
  }
  
  .kids{
    background-color: white;
    color : black;
    font-weight: bold;
    font-size : 15px;
    font-family: NotoSansKR-Regular;
  }
</style>

<div class="wrapper row1 kids">
  <header id="header" class="hoc clear">
  
    <div id="logo" class="fl_left">
      <h1><a href="/" style="font-family: NotoSansKR-Regular; font-weight: bold;"><img style="width:5%;margin-bottom:0.5%; margin-right:2%;" src="/images/navi.png"></img>키즈가든</a></h1>
    </div>

    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a href="/garden">키즈가든 검색</a></li>
        <li><a href="/register">마이 키즈가든</a></li>
        <li><a href="#">이벤트</a></li>
        <li><a href="/kidstalk">키즈맘TALK</a></li>
        <% if(!(user && user.id)) { %>
        <li><a href="/login/local">로그인</a></li>
        <% }else { %>
          <li><a class="drop">마이페이지</a>
            <ul>
              <li><a href="/mypage/account">나의 계정</a></li>
              <li><a href="/login/logout">로그아웃</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </nav> 
  </header>
</div>

