<style>
    .first{
      cursor:pointer;
    }
  </style>
  
  <div class="sidebar one_quarter first">
    <nav class="sdb_holder">
      <ul>
        <li><a href="/mypage/gardenManage">가든 정보 관리</a></li>
        <li><a href="/mypage/gardenApprove">가든 신청 관리</a></li>

      </ul>
    </nav>
  </div>
  